* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 14vh;
    width: 18vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 11px;
}

.menu-btn {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 628px) {
    .menu-btn {
        display: block;
        margin-left: 17em;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: white;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    nav ul.show {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        margin: 5px 10px;
    }

    video {
        min-height: 70vh;
        width: 100%;
    }

    .pattern,
    .fabric,
    .production,
    .quality,
    .logistic {
        height: 19vh;
        width: 15vw;
        margin-left: 1em;
        margin-bottom: 1em;
    }

    .text {
        font-size: 10px;
    }
}

.video-container {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

video {
    width: 100%;
}

.built {
    text-align: center;
    padding: 4em;
}

.built h1 {
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 0.2em;
}

.about-us {
    background-image: url(./image/about\ us.webp);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.box {
    letter-spacing: 3px;
    max-width: 38%;
    background-color: white;
    border-radius: 20px;
    padding: 2em;
    box-sizing: border-box;
    position: relative;
    left: 7%;
    top: 12vw;
    opacity: 0.8;
}

.box h1 {
    font-size: 3rem;
    margin: 0 0 20px 0;
}

.box p {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
}

.read-more-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.read-more-btn:hover {
    background-color: #555;
}

.img1 {
    width: 100%;
}

.img2 {
    height: 41vh;
    width: 100%;
}

.service {
    text-align: center;
    padding: 4em 0em;
}

.service h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 1.2em;
}

.cat {
    display: flex;
    flex-wrap: wrap;
}

.pattern,
.fabric,
.production,
.quality,
.logistic {
    height: 33vh;
    width: 17vw;
    margin-left: 2em;
    margin-bottom: 1em;
}

.product {
    padding: 2em 6em;
    display: flex;
}

.collage {
    height: 50vh;
    width: 42vw;
}

.our {
    height: 50vh;
    width: 42vw;
    background-color: black;
    margin-left: 1em;
    padding: 4em
}

.fab {
    padding: 4em 6em;
    display: flex;
}

.cloth {
    height: 50vh;
    width: 42vw;
    margin-left: 1em;
}

.our1 {
    height: 50vh;
    width: 42vw;
    background-color: black;
    padding: 4em
}

.our h1,
.our1 h1 {
    font-size: 3rem;
    margin: 0 0 20px 0;
    color: white;
    font-weight: lighter;
}

.our p,
.our1 p {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
    color: white;
}

.know-more-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}

.know-more-btn:hover {
    background-color: black;
    color: white;
}

.brand {
    width: 100%;
}

.global {
    text-align: center;
    padding: 8em 0em;
}

.global h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 2em;
}

.global img {
    width: 100%;
    margin-bottom: 4em;
}

.global p {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
}

.together {
    background-image: url(./image/backgound.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.box1 {
    letter-spacing: 3px;
    max-width: 44%;
    background-color: white;
    border-radius: 20px;
    padding: 2em;
    box-sizing: border-box;
    position: relative;
    left: 7%;
    top: 12vw;
    opacity: 0.8;
    text-align: center;
    line-height: 322%;
}

.box1 h1 {
    font-size: 3rem;
    margin: 0 0 20px 0;
}

.box1 p {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
    font-weight: 700;
}

.read-more-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.read-more-btn:hover {
    background-color: #555;
}

@media (max-width: 971px) {
    .box {
        letter-spacing: 2px;
        max-width: 38%;
        background-color: white;
        border-radius: 20px;
        padding: 2em;
        box-sizing: border-box;
        position: relative;
        left: 7%;
        top: 7vw;
        opacity: 0.8;
    }

    .box h1 {
        font-size: 2rem;
        margin: 0 0 20px 0;
    }

    .box p {
        font-size: 1.1rem;
        margin: 0 0 20px 0;
    }

    .pattern,
    .fabric,
    .production,
    .quality,
    .logistic {
        height: 21vh;
        width: 15vw;
        margin-left: 2em;
        margin-bottom: 1em;
    }

    .our {
        height: 50vh;
        width: 42vw;
        background-color: black;
        margin-left: 1em;
        padding: 2em 3em;
    }

    .our1 {
        height: 50vh;
        width: 42vw;
        background-color: black;
        padding: 2em 3em;
    }

    .our p,
    .our1 p {
        font-size: 1rem;
        margin: 0 0 20px 0;
        color: white;
    }

    .our h1,
    .our1 h1 {
        font-size: 2rem;
        margin: 0 0 20px 0;
        color: white;
        font-weight: lighter;
    }

    .box1 {
        letter-spacing: 3px;
        max-width: 63%;
        background-color: white;
        border-radius: 20px;
        padding: 0em;
        box-sizing: border-box;
        position: relative;
        left: 7%;
        top: 12vw;
        opacity: 0.8;
        text-align: center;
        line-height: 322%;
    }

    .collage {
        height: 50vh;
        width: 37vw;
    }

    .cloth {
        height: 50vh;
        width: 34vw;
        margin-left: 1em;
    }

    .know-more-btn {
        background-color: white;
        color: black;
        padding: 5px 16px;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        transition: 1s;
    }


}

@media (max-width: 700px) {
    .box {
        letter-spacing: 2px;
        max-width: 64%;
        background-color: white;
        border-radius: 20px;
        padding: 2em;
        box-sizing: border-box;
        position: relative;
        left: 7%;
        top: 14vw;
        opacity: 0.8;
    }

    .pattern,
    .fabric,
    .production,
    .quality,
    .logistic {
        height: 19vh;
        width: 15vw;
        margin-left: 1.5em;
        margin-bottom: 1em;
    }
}

@media (max-width: 580px) {
    .product {
        padding: 0em 4em;
        display: flex;
    }

    .fab {
        padding: 2em 4em;
        display: flex;
    }

    .box1 h1 {
        font-size: 2rem;
        margin: 0 0 0px 0;
    }
    .box1 p {
        font-size: 1.2rem;
        margin: 0px 0 4px 0;
    }
    .box1 {
        letter-spacing: 3px;
        max-width: 63%;
        background-color: white;
        border-radius: 20px;
        padding: 0em;
        box-sizing: border-box;
        position: relative;
        left: 7%;
        top: 25vw;
        opacity: 0.8;
        text-align: center;
        /* line-height: 322%; */
    }
    .menu-btn {
        display: block;
        margin-left: 14em;
    }

}
@media (max-width: 490px){
    .pattern, .fabric, .production, .quality, .logistic {
        height: 16vh;
        width: 16vw;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    .collage {
        height: 37vh;
        width: 37vw;
    }
    .our {
        height: 37vh;
        width: 37vw;
        background-color: black;
        margin-left: 1em;
        padding: 1em 3em;
    }
    .cloth {
        height: 37vh;
        width: 37vw;
        margin-left: 1em;
    }
    .our1 {
        height: 37vh;
        width: 37vw;
        background-color: black;
        padding: 1em 3em;
    }
    .our h1, .our1 h1 {
        font-size: 1.5rem;
        margin: 0px 0 5px 0;
        color: white;
        font-weight: lighter;
    }
    .our p, .our1 p {
        font-size: 0.7rem;
        margin: 0 0 14px 0;
        color: white;
    }
    .know-more-btn {
        background-color: white;
        color: black;
        padding: 5px 16px;
        font-size: 0.8em;
        cursor: pointer;
        border-radius: 5px;
        transition: 1s;
    }
    .built {
        text-align: center;
        padding: 0em;
        padding-bottom: 4em;
    }
}
@media (max-width: 440px){
    .menu-btn {
        display: block;
        margin-left: 11em;
    }
    video {
        min-height: 41vh;
        width: 100%;
    }
}
@media (max-width: 353px){
    .menu-btn {
        display: block;
        margin-left: 9em;
    }
    .logo {
        height: 15vh;
        width: 27vw;
    }
    video {
        min-height: 48vh;
        width: 100%;
    }
    .box {
        letter-spacing: 2px;
        max-width: 74%;
        background-color: white;
        border-radius: 20px;
        padding: 2em;
        box-sizing: border-box;
        position: relative;
        left: 7%;
        top: 14vw;
        opacity: 0.8;
    }
    .pattern, .fabric, .production, .quality, .logistic {
        height: 15vh;
        width: 15vw;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }
    .product {
        padding: 0em 2.5em;
        display: flex;
    }
    .our {
        height: 37vh;
        width: 37vw;
        background-color: black;
        margin-left: 1em;
        padding: 1em 1em;
    }
    .fab {
        padding: 2em 2.5em;
        display: flex;
    }
    .our1 {
        height: 37vh;
        width: 39vw;
        background-color: black;
        padding: 1em 1em;
    }

}